.btn-primary {
  color: #FEC20C;
  background-color: #2D4596;
  border-color: #161D4C;
  width: 300px;
}

.list-group-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}

.pokemon-list {
  list-style-type: none;
  margin: 0.5;
  padding: 0.5;
  display: grid;
  width: 100%;
  max-width: 1280px;
  min-width: 380px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 300px);
}

.container {
  text-align: center;
  margin-top: 64px;
  margin-bottom: 24px;
}
